<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>VueCli3.x 最新入门教程(lesson14-15)</title>
  <link rel="stylesheet" href="style.css" />
  <!-- 引入vue    -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="vue-app">
    <h1>v-if 指令</h1>

    <button @click="error=!error">toggle</button>
    <button @click="success=!success">success</button>
    <!-- v-if 不为真时  整个标签都没有 -->
    <p v-if="error">error:如果条件为真，那么显现实</p>
    <p v-else-if="success">success:如果条件为真，那么显现实</p>
    <p v-else>other</p>
    <!--  v-show  只是显示隐藏，标签一直都有 -->
    <p v-show="success">v-show</p>

    <h1>v-for</h1>
    <h2>charactors ....</h2>
    <ul>
      <li v-for="(mrCharactor,mri) in characters">
        {{mri+1}}.{{ mrCharactor }}
      </li>
    </ul>
    <h2>users .....</h2>
    <ul>
      <li v-for="(user,i) in users">
        {{ i }}. 姓名：{{user.name}} 年龄：{{user.age}}
      </li>
    </ul>
    <!-- template 可以当一个容器，但是不会在页面渲染 -->
    <template v-for="(user,index) in users">
      <h3>{{ index }}-{{ user.name}}</h3>
      <p>age-{{ user.age }}</p>
    </template>

    <template v-for="(user,index) in users">
      <div v-for="(val,key) in user">
        <h3>{{ key }}-{{val}}</h3>
      </div>
    </template>
  </div>
</body>
<script src="app.js"></script>

</html>